.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #9796f0;
  padding: 10px;
  border: 1px solid #ffffff30;
}

.emoji-logo {
  height: 30px;
  width: 40px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.list-items {
  list-style-type: none;
  color: #ffffff;
  margin-left: 10px;
}
